<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Lorem ipsum"/>
        <meta name="keywords" content="Lorem ipsum"/>
        <title>Mandrill Listener</title>
        {% comment %} Vue.js & axios {% endcomment %}
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>
    <body>
        <div id="app">[[message]]</div>
        <script>
            const { createApp } = Vue
            createApp({
                delimiters: ['[[', ']]'], // because Django uses curly braces
                data() {
                    return {
                        message: 'Hello Vue!'
                    }
                },
            }).mount('#app')
        </script>
    </body>
</html>
